* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background: white;
    font-family: 'Montserrat', serif;
}

body {
    background: linear-gradient(to bottom, #f0f8ff, #ffffff);
    /*height: 5000px;*/
}

body header {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding: 10vh 0;
    text-align: center;
    color: #36425b;
}

body header h1 {
    font-size: 3.5em;
    font-weight: 300;
}

body header h3 {
    font-weight: 400;
}

body header a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    margin-top: 5vh;
    padding: 0.75em 1.25em;
    transition: 0.3s all;
    background: #4285f4;
    border-radius: 50em;
    box-shadow: 0 0.15em 0.5em rgba(66, 133, 244, 0.75);
    font-family: 'Montserrat', sans-serif;
}

body header a:hover {
    background: #4291f6;
}

body main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
