@import '~sassyfication';
@import 'lib/variables';
@import 'lib/mixins';

.pcr-app {
    box-shadow: none !important;

    .pcr-picker {
        @include size(12px !important);
    }
}

.gpcr-app {
    @include inline-flex(row);
    box-shadow: 0 0.15em 0.5em rgba(black, 0.1);
    border-radius: 0.15em;
    overflow: hidden;
    padding: 0.5em;
    font-family: $font-family;
    user-select: none;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    button {
        border: none;
        outline: none;
        background: initial;
        cursor: pointer;
    }

    .gpcr-interaction {
        @include flex(column);
        margin-left: 0.5em;

        .gpcr-result {
            @include size(5.4em, 12.5em);
            border-radius: 0.15em;
            margin-bottom: 0.5em;
            flex-grow: 1;
        }

        .gpcr-stops {
            .gpcr-stop-preview {
                @include size(2em, 12.5em);
                @include transparency-background(8px);
                position: relative;
                border-radius: 0.15em;
                overflow: hidden;
                cursor: pointer;
            }

            .gpcr-stop-marker {
                position: relative;

                .gpcr-marker {
                    @include size(10px);
                    @include transparency-background(4px);
                    position: absolute;
                    background: currentColor;
                    margin: 0.15em 0 0 -5px;
                    border-radius: 100%;
                    border: 2px solid white;
                    box-shadow: 0 0.05em 0.2em rgba(black, 0.15);
                    transition: opacity 0.15s;
                    cursor: grab;
                    cursor: webkit-grab;

                    &::before {
                        border-radius: 100%;
                    }
                }
            }
        }

        .gpcr-controls {
            margin-top: 1.5em;

            > button {
                text-transform: capitalize;
                background: $palette-cloud-blue;
                color: white;
                padding: 0.5em 0.75em;
                border-radius: 0.15em;
                transition: all 0.3s;
                flex-grow: 1;

                &:hover {
                    filter: brightness(0.95);
                }
            }
        }
    }
}
