@import '~sassyfication';
@import 'lib/variables';
@import 'lib/mixins';

.pcr-app {
    box-shadow: none !important;

    .pcr-picker {
        @include size(12px !important);
    }
}

.gpcr-app {
    @include inline-flex(row);
    box-shadow: 0 0.15em 0.5em rgba(black, 0.1);
    border-radius: 0.15em;
    overflow: hidden;
    padding: 0.5em;
    font-family: $font-family;

    .gpcr-interaction {
        @include flex(column);

        .gpcr-stops {
            margin-left: 0.5em;

            .gpcr-stop-preview {
                @include size(2em, 12.5em);
                @include transparency-background(8px);
                position: relative;
                border-radius: 0.15em;
                overflow: hidden;
                cursor: pointer;
            }

            .gpcr-stop-marker {
                position: relative;

                .gpcr-marker {
                    @include size(10px);
                    @include transparency-background(4px);
                    position: absolute;
                    background: currentColor;
                    margin: 0.15em 0 0 -5px;
                    border-radius: 100%;
                    border: 2px solid white;
                    box-shadow: 0 0.05em 0.2em rgba(black, 0.15);
                    transition: opacity 0.15s;
                    cursor: grab;
                    cursor: webkit-grab;

                    &::before {
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}
